;;;
"title": "Laggy Dash"
;;;
<div id="wrap">
  <div class="page-header">
    <h1>Laggy Dash <small>A Massively Single Player Infinite Runner.</small></h1>
  </div>
  <div class="well" id="phaser">
  </div>
</div>
<div id="footer">
  <div class="container center-block">
    <p class="text-muted" style="text-align:center;">(info)</p>
  </div>
</div>
<script type="text/javascript">
  (function () {
    window.laggydash = new LaggyDash.Main()
    window.phaser = new Phaser.Game(896, 504, Phaser.AUTO, 'phaser', window.laggydash)
  })();
</script>
